/.vscode
/404.png
/abhi.html
/about.jpg
/about1.jpg.jpg
/amazon_logo.png
/ANIMATION.HTML
/animation1.html
/avatar.png
/b2.png
/b3.png
/background.html
/bars.svg
/bell.svg
/bg2.jpg
/box1_image.jpg
/box2_image.jpg
/box4_image.jpg
/box5_image.jpg
/box6_image.jpg
/box7_image.jpg
/box8_image.jpg
/calculator.css
/calculator.html
/clear.png
/clone.html
/cloud.png
/color.css
/color.html
/compass.svg
/css 1
/currency converte.jsr
/delivery.jpeg
/desktop.ini
/developer.jpeg
/develpoper.png
/diagonailaistion of matrix.pdf
/discount.jpeg
/dot-grid.svg
/dots (1).svg
/dots.svg
/font.html
/fresh.jpeg
/gift_card.png
/grid_image1.jpeg
/grid_image2.jpeg
/grid_image3.jpeg
/grid_image4.jpeg
/grid_image5.jpeg
/grid_image6.jpeg
/grid_image7.jpeg
/hero_image music.png
/hero_image.jpeg
/hero_image.jpg
/home.svg
/htm,html
/html.1
/icon.png
/ipad-iphone.png
/java.prg5
/java11.java
/javascript progrms.js
/kalam.jpg
/landing page.css
/landing page.html
/logo.png
/mac.png
/mic.svg
/mist.png
/mobile.jpeg
/music website.css
/music website.html
/namaste world.html
/payment form html
/plane.html
/portfolio.css
/portfolio.html
/prg1.class
/prg1.java
/profile card.css
/profile card.html
/profile pic.jpg.jpeg
/profile.jpg
/project 1.css
/project 1.html
/project 2.html
/project 3.css
/project 4.css
/project 4.html
/project 5
/project 5 html.txt
/project 5.css
/project5.css
/project5.html
/rain.png
/restaurant.css
/restaurant.html
/resume
/search.svg
/snow.png
/style.css
/style2.html
/thumbnail.png
/uiux.jpeg
/video (1).png
/video-add.svg
/video-gallary.svg
/video-library.svg
/video.png
/weather app
/weather.js
/web deve
/web.jpeg
/youtube clone.css
/youtube clone.html
/youtube-logo.png